.activities-header{
    position: absolute;
    width: 93px;
    height: 22px;
    left: 380px;
    top: 190px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    /* identical to box height */

    color: #000000;
}
.activities-card{
    align-items: center;
    display: flex;
}
.date-card1{
    position: absolute;
    width: 97px;
    height: 15px;
    left: 400px;
    top: 400px;
}
.date1{
    position: absolute;
    width: 97px;
    height: 15px;
    left: -14px;
    top: -193px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */

    /* Secondary Text */
    color: #858585;
}
.downicon1{
    position: absolute;
    left: 80px;
    right: 240px;
    top: -160px;
    bottom: 28.71%;

    
}