

.register__textBox1{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    border-radius: 10px;
}

.login__textBox2{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    border-radius: 10px;
}

.login__btn{
    color: white;
    background-color: black;
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

.google-button{
  width: 184px;
  height: 30px;
  border-radius: 10px;
}

.apple-button{
    width: 184px;
    height: 30px;
    border-radius: 10px;
}

.sign-header{
    margin-left: 30px;
}

.reset-button{
    color : blue;
}

.register-button{
    color: blue;
}