.register__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top : 30px;
}

.register__textBox1{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    border-radius: 10px;
}

.register__textBox2{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    border-radius: 10px;
}

.register__textBox3{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    border-radius: 10px;
}
.register__btn{
    color: white;
    background-color: black;
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

.register__google{
  width: 184px;
  height: 30px;
  border-radius: 10px;
}

.login{
    color: blue;
}